.slider .indicators .indicator-item {
  background-color: #ffffff00;
  border: px solid #ffffff00;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
  background-color: #ffffff00;
}

.slider {
  width: 100%;
  height: 360px;
  margin: 0 auto;
  position: relative;
}

.slider .indicators {
  z-index: 100;
}

.slides img{
    height:100%;
}
  
.slider .slides li img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rgb(0, 0, 0);
  background-position: center;
}

.slider .slides {
  background-color: #000000;
  margin: 0;
  width: 30%;
  height: 60%;
  padding-top: 10vh; 
}

.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 9px; /* 스크롤바 너비 */
}
::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 스크롤바 색상 */
  border-radius: 4px; /* 둥근 모서리 */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 배경색 */
}

::-webkit-scrollbar:horizontal {
  height: 8px; /* 수평 스크롤바 높이 */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #ccc; /* 수평 스크롤바 색상 */
  border-radius: 4px; /* 둥근 모서리 */
}

::-webkit-scrollbar-track:horizontal {
  background-color: transparent; /* 수평 스크롤바 배경색 */
}


/* ==================== */


body {
  color: whitesmoke;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.hi {
  margin-top: 10px;
}

.title {
  font-size: 5em;
  margin-bottom: 2rem;
}


p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}

section {
  /* height: 100vh; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hero {
  background-image: url(https://astro.kasi.re.kr/file/astro_page/495948220371032.jpg);
  text-align: center;
  height: 500px;
  /* padding-top: 10vh;  */
}

.menu {
  background-image: url(https://newsimg.sedaily.com/2023/09/04/29UJVDT644_5.jpg);
  /* display: flex; */
  align-items: center;
}

.site {
  height: 400px;
  overflow-y: auto;
}

.contact {
  background-image: url(https://astro.kasi.re.kr/file/astro_page/495948220371032.jpg);
  text-align: center;
  height: 400px;
}

.wrapper {
  /* mask-border-width: 900px; */
  width: 100%;
  /* margin: 0 auto; */
  padding: 0 1rem;
}

.menu-list {
  /* font-size: 18px; */
}

.menu-list tr {
  /* font-size: 17px; */
  margin-bottom: 20px;
  line-height: 48px;
  border: none;
}

.menu-list td {
  width: 100%;
  padding-left: 40px;
}

.title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 3s ease;
  letter-spacing: -0.25em; 
  text-transform: lowercase;
}

.title span.animate {
  opacity: 1;
  transform: translateY(0);
}

.title3 {
  text-transform: lowercase;

}

.title span:nth-child(1) {
  animation-delay: 0s;
}
.title3 span:nth-child(2) {
  animation-delay: 0.1s;
}
.title span:nth-child(3) {
  animation-delay: 0.2s;
}
.title span:nth-child(4) {
  animation-delay: 0.3s;
}
.title span:nth-child(5) {
  animation-delay: 0.4s;
}
.title span:nth-child(6) {
  animation-delay: 0.5s;
}
.title span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}


.button {
  background-color: rgb(13, 0, 255);
  font-size: 1.5rem;
  padding: 1rem 3.5rem;
  margin: 2rem;
  color: aliceblue;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #00FF44;
  color: black;;
}

a:link {
  color : whitesmoke;
}

a:visited {
  color : whitesmoke;
}

a:hover {
  font-weight: bold;
}

a:active {
  color : whitesmoke;
}



@media (max-width: 700px) {
  .title {
      font-size: 4rem;
  }
  p {
      padding: 0 1rem;
  }
  p,
  .menu-list li {
      font-size: 1rem;
  }
  .hero {
      padding-top: 12vh;
  }
  .button {
      font-size: 1rem;
  }
}


body {
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 auto;
}

header {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  height: 60px;
}

.logo {
  font-size: 2em;
  padding-top: 10px;
  color: rgb(255, 255, 255);
}

.av {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

body{
  background-color: black;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  color:whitesmoke;
  box-sizing: border-box;
  align-items: center;
}

li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.a:hover {
  color: blue;
}

.container {
  display: flex;
  max-width: 980px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 20px;
  margin: 10px auto;
  box-shadow: 0 0 30px whitesmoke;
}

.boxitem {
  display: flex;
  align-irgb(255, 128, 128)adding: 10px 0;
}

.boxitem+.boxitem {
  border-top: 1px solid navy;
}

.imgpart img {
  width: 450px;
  padding: 30px;
}












